/* Nooit doen : */

:root {
  --global-theme-color-base: hsl(216, 100%, 97%);
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
}

html {
  background-color: var(--global-theme-color-base);
  cursor: crosshair;
}

canvas {
  /* background-color: darkblue; */
}
